nav {
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	top: 0;
	left: 0;
	padding: 10px 5%;
	margin: 0;
	transition-duration: 0.5s;
}

.navbar-top {
	width: 100%;
	margin: 0;
}

.navbar-toggle-icon {
	display: inline-block;
	width: 35px;
	height: 35px;
	background-size: 100% 100%;
	background-image: url("../../../assets/img/navbar-toggle.svg");
	margin-top: 3px;
}

.navbar-icon {
	flex-direction: row;
	margin-left: auto;
}

fa-icon {
	font-size: 26px;
	padding: 0 16px;
}
.icon-fett {
	margin-top: 2px;
}

.navbar-link {
	display: block;
	font: {
		family: 'Baskervville', serif;
		size: 1.4em;
	}
	color: #fff;
	text-decoration: none;
	width: fit-content;
}

.navbar-link:not(.icon) {
	margin: 4px 24px;
	&:last-of-type {
		margin-right: 0;
	}
}

.navbar-dropdown {
	display: none;
}

.dropdown-link {
	display: block;
	font: {
		family: 'Roboto', sans-serif;
		size: 1.2em;
		weight: 300;
	}
	color: #fff;
	white-space: nowrap;
	margin: 4px 28px;
	text-decoration: none;
}

.dropdown-toggle {
	position: relative;
}
.dropdown-toggle::before {
	content: "";
	position: absolute;
	bottom: 3px;
	left: 50%;
	width: 8px;
	height: 1.5px;
	background: #fff;
	transform: skew(0, -18deg);
}
.dropdown-toggle::after {
	content: "";
	position: absolute;
	bottom: 3px;
	right: 50%;
	width: 8px;
	height: 1.5px;
	background: #fff;
	transform: skew(0, 18deg);
	border: 0;
}

.active {
	position: relative;
	color: #eaa623;
}
.active::after {
	display: block;
	content: "";
	position: absolute;
	bottom: -14px;
	width: 100%;
	height: 3px;
	background: #eaa623;
}
.active-dropdown {
	color: #eaa623;
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
	.navbar-nav {
		flex-direction: row;
	}
	.dropdown-wide {
		display: block;
		background-color: rgba(0, 0, 0, 0.9);
		height: 120px;
	}
	.collapse-navbar {
		position: relative;
	}
	.navbar-dropdown {
		display: flex;
		position: absolute;
		margin-top: 60px;
	}
}

@media (max-width: 767px) {
	.navbar-small {
		height: auto;
		background-color: rgba(0, 0, 0, 0.8);
	}
	.collapse-navbar {
		height: 166.4px;
		overflow: hidden;
		transition-duration: 0.5s;
	}
	.dropdown-collapse-navbar {
		height: 313.6px;
	}
	.navbar-dropdown {
		display: block;
		height: 0;
		overflow: hidden;
		transition-duration: 0.5s;
		padding-left: 25px;
	}
	.showDropdown {
		height: 147.2px;
	}
	.hideNavbar {
		height: 0;
	}
	.active::after {
		top: 0;
		left: -19px;
		bottom: unset;
		width: 5px;
		height: 100%;
	}
}

@media (max-width: 575px) {
	nav {
		padding: 10px 10px;
	}
}