<nav class="navbar fixed-top" [class.navbar-small]="!navbarIsHidden" [class.dropdown-wide]="dropdownIsShown">
    <div class="row navbar-top">
        <a (click)="hideNavbar()" class="navbar-toggle order-md-1" routerLink="">
            <span class="navbar-toggle-icon"></span>
        </a>

        <div class="navbar-nav navbar-icon order-md-3">
            <a class="navbar-link icon" href="mailto:" target="_blank"><fa-icon [icon]="faEnvelope"></fa-icon></a>
            <a class="navbar-link icon" href="https://instagram.com" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
            <a class="navbar-link icon icon-fett" href="https://discord.gg/RyG5Zaz" target="_blank"><fa-icon [icon]="faDiscord"></fa-icon></a>
        </div>

        <div class="navbar-nav collapse-navbar col-md-9 order-md-2" [class.hideNavbar]="navbarIsHidden" [class.dropdown-collapse-navbar]="!navbarIsHidden && dropdownIsShown">
            <a class="navbar-link" routerLink="/home" [class.active]="currentRoute.urlAfterRedirects === '/home'">Home</a>

            <a (click)="showDropdown()" class="navbar-link dropdown-toggle" routerLink=currentRoute.urlAfterRedirects>Features</a>
            <div class="navbar-dropdown" [class.showDropdown]="dropdownIsShown">
                <a class="dropdown-link" routerLink="">Features 1</a>
                <a class="dropdown-link" routerLink="">Features 2</a>
                <a class="dropdown-link" routerLink="">Features 3</a>
                <a class="dropdown-link" routerLink="">Features 4</a>
            </div>

            <a class="navbar-link" routerLink="/update-news" [class.active]="currentRoute.urlAfterRedirects === '/update-news'">Update-News</a>
            <a class="navbar-link" routerLink="/team" [class.active]="currentRoute.urlAfterRedirects === '/team'">Team</a>
        </div>
    </div>
</nav>