$update-border-radius: 15px;

h3 {
    text-align: center;
    margin-bottom: 80px;
}

.update-wrapper {
    position: relative;
    margin: 72px 32px;
    border: solid 0px #0f0f0f;
    border-radius: $update-border-radius;
    overflow: hidden;
    height: 300px;
    transition: height 2s, border-color 2s, border-width 1s, box-shadow 0.5s;
    box-shadow: 0 0 0 0 #eaa623;
}
.update-wrapper::before {
    content: "";
    position: absolute;
    z-index: 10;
    left: 25%;
    bottom: 0;
    width: 75%;
    height: 300px;
    background: #ffffff;
    background: linear-gradient(to bottom, #00000000 40%, #202020 88%);
    transition-duration: 5s;
}
.update-wrapper:hover{
    box-shadow: 0px 0px 10px 0px #eaa623;
}
.update-wrapper:active{
    border: solid 2px #eaa623;
    margin: 70px 30px;
}

img {
    width: 100%;
    border: solid 2px #fff;
}

p {
    font-size: 1.4em;
    font-weight: 400;
    color: #fff;
}

.left-side {
    background-color: #363636;
    padding: 0;
    border: solid 0px #0f0f0f;
    border-right: none;
    border-top-left-radius: $update-border-radius;
    border-bottom-left-radius: $update-border-radius;
    img {
        border-top-left-radius: inherit;
        max-height: 250px;
    }
}

.left-side-content {
    padding: 10px 20px;
}

.right-side {
    position: relative;
    background-color: #202020;
    border: solid 0px #0f0f0f;
    border-left: none;
    border-top-right-radius: $update-border-radius;
    border-bottom-right-radius: $update-border-radius;
    padding: 20px 20px 80px 40px;
}

.read-more {
    position: absolute;
    z-index: 11;
    bottom: 25px;
    left: 37.5%;
    width: 50%;
    text-align: center;
    font: {
        family: 'Baskervville', serif;
        size: 1.6em;
        weight: 400;
    }
}
.read-more::before {
	content: "";
	position: absolute;
	bottom: 2px;
	left: 50%;
	width: 15px;
	height: 1.5px;
	background: #fff;
	transform: skew(0, -18deg);
}
.read-more::after {
	content: "";
	position: absolute;
	bottom: 2px;
	right: 50%;
	width: 15px;
	height: 1.5px;
	background: #fff;
	transform: skew(0, 18deg);
	border: 0;
}



.update-open {
    border: solid 2px #eaa623;
    margin: 70px 30px;
    &::before {
        height: 0;
    }
    .read-more::before {
        top: 2px;
        bottom: unset;
        transform: skew(0, 18deg);
    }
    .read-more::after {
        top: 2px;
        bottom: unset;
        transform: skew(0, -18deg);
    }
}



@media (max-width: 767px) {
    .h1-decoration::before {
        width: 40%;
    }
    .h1-decoration::after {
        width: 20%;
    }
}