body {
	font-family: 'Baskervville', serif;
	font-size: 11pt;
	background-color: #0f0f0f;
	color: #fff;
}

.contentwrapper {
	padding: 20px;
}

h2 {
	font-family: 'Baskervville', serif;
	font-size: 24pt;
}

p {
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
	height: auto;
}

.image_decoration {
	position: relative;
}
.image_decoration::after {
	content: "";
	position: absolute;
	background-image: url("assets/images/image_decoration.png");
	width: 50%;
	height: auto;
}



