
$sm: 991px;
$lg: 1200px;


body {
	font: {
		family: 'Roboto', sans-serif;
		size: 1em;
		weight: 100;
	}
	background-color: #0f0f0f;
	color: #fff;
}

.contentwrapper {
	padding: 20px;
	margin-bottom: 40px;
}

h2 {
	font: {
		family: 'Baskervville', serif;
		size: 2em;
		weight: 400;
	}
}

p {
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
	height: auto;
}

@media (max-width: $sm) {
	.image {
		margin-bottom: 40px;
	}
}

.image_decoration {
	position: absolute;
	display: block;
	width: 50%;
	transform: translateX(50%);
	margin-left: -35px;
}

@media (min-width: $lg) {
	.image_decoration_margin_bottom {
		margin-bottom: 30px;
	}
}

footer {
	font: {
		family: 'Roboto', sans-serif;
		size: 0.9em;
	}
	background-color: #202020;
	* {
		text-align: center;
	}
	padding: 12px;
}
