<div class="background">
    <header>
        <div class="container">
            <div class="row justify-content-center">
                <h1>Magic Mittelalter Game</h1>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="headerwrapper">
                        <img src="assets/img/Youtube-Platzhalter.png">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="headerwrapper">
                        <h3>
                            Eine einzigartige Welt...
                        </h3>
                        <p>
                            ...lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor<br><br> invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.<br>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="header_decoration">
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-lg-2">
                <div class="contentwrapper image">
                    <img src="assets/img/Vorschau_überdasSpiel.png" alt="...">
                    <img class="image_decoration" src="assets/img/image_decoration.png">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="contentwrapper">
                    <h2>
                        Über das Spiel
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contentwrapper image">
                    <img src="assets/img/Vorschau_EntdeckeeinemystischeWelt.png" alt="...">
                    <img class="image_decoration" src="assets/img/image_decoration.png">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contentwrapper">
                    <h2>
                        Entdecke eine mystische Welt
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="image_decoration_margin_bottom"></div>
    </div>
</div>