$sm: 991px;
$lg: 1200px;

.header-wrapper {
	padding: 40px 35px 30px 25px;
}
header {
	background-image: url("../../../assets/img/Banner.png");
	background-position: center;
	padding: 100px 40px 0 40px;
	margin-bottom: 30px;
	background-repeat: no-repeat;
	background-size: cover;
}
.header-decoration {
	position: relative;
	width: 80%;
}
.header-decoration::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background: #eaa623;
	margin-top: -9px;
	border-radius: 50%;
}
.header-decoration::after {
	content: "";
	position: absolute;
	width: 85%;
	height: 3px;
	background: #eaa623;
	margin-top: 6px;
	margin-left: 7.5%;
	border-radius: 50%;
}

.content-wrapper {
	padding: 30px;
	margin-bottom: 40px;
}

img {
	width: 100%;
	height: auto;
}

@media (max-width: $sm) {
	.image {
		margin-bottom: 40px;
	}
}

.image-decoration {
	position: absolute;
	display: block;
	width: 50%;
	transform: translateX(50%);
	margin-left: -35px;
}

@media (min-width: $lg) {
	.image-decoration-margin-bottom {
		margin-bottom: 30px;
	}
}

@media (max-width: 575px) {
	.container {
		margin: 0;
		padding: 0;
	}
	header {
		padding: 0;
		padding-top: 50px;
	}
	h1 {
		margin: 10%;
	}
	.header-wrapper {
		padding: 0;
		margin: 0 5% 5%;
	}
	.content-wrapper {
		padding: 0;
		margin: 8% 5%;
	}
}