<nav class="row">
    <div class="">
        <h4>
            Home
        </h4>
    </div>
    <div class="">
        <h4>
            Features
        </h4>
    </div>
    <div class="">
        <h4>
            Builds
        </h4>
    </div>
    <div class="">
        <h4>
            Team
        </h4>
    </div>
    <div class="icon">
        <img src="../../../assets/img/email-24px.svg">
    </div>
    <div class="icon">
        <img src="../../../assets/img/instagram-brands.svg">
    </div>
    <div class="icon">
        <img src="../../../assets/img/discord-brands.svg">
    </div>
</nav>